 .php{
background-color:cadetblue;
padding: 10px; border: 1px solid; color:#004d40;
    text-align: center;
 }
 
 .video-container {
    max-width: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
    margin-left: 20px;
    margin-bottom: 10px;

 } 

.kepek img { margin: 10px; border: 10px solid ; color: cadetblue; }



body {
    font-family: Helvetica;
    margin: 0; padding: 0;
    background-color:cadetblue;
}

header, footer { font-family: Arial;
   padding: 10px; text-align: center;
    background-color:#004d40;  
    color: cadetblue;
}

/*.menu {
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    background-color: #00796b;
}*/

.user-info {
    text-align: right;
    padding: 0 1rem;
    font-size: 0.9rem;
}

 input, textarea {
   margin-top: 5px;
   margin-left: 20px;
    display: block;
    margin-bottom: 1rem;
}
label{
background-color: #00796b;
    color: white;
    margin-left: 20px;
    border: 5px solid; border-color: #004d40;
    padding: 5px 7px;
    cursor: pointer;
    border-radius: 4px;


}
 button {
    font-weight: bold;
    background-color: #00796b;
    color: white;
    border: none;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #004d40;
}

h2{
color: white;
margin-left: 10px;

}
table td{

    padding:5px;
}
